.fg-color-1 {
  color: #E5EDB8;
}
.fg-color-2 {
  color: #ADB85F;
}
.fg-color-3 {
  color: #837B47;
}
.fg-color-4 {
  color: #5A3D31;
}
.fg-color-5 {
  color: #300018;
}

.bg-color-1 {
  background-color: #E5EDB8;
}
.bg-color-2 {
  background-color: #ADB85F;
}
.bg-color-3 {
  background-color: #837B47;
}
.bg-color-4 {
  background-color: #5A3D31;
}
.bg-color-5 {
  background-color: #300018;
}

body {
  padding-top: 39px;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1 {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 700;
}

.banner {
  background: transparent url('banner.png') 0 0 no-repeat fixed;
  text-align: center;
  background-size: cover;
  height: 180px;
  width: 100%;
  margin-bottom: 3em;
  display: table;
}

.banner-head {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  text-transform: lowercase;
  letter-spacing: 0.10em;
  font-size: 4em;
  font-weight: 500;
  color: white;
  text-shadow: 0 1px 1px black;
}

.pure-menu {
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.container {
  width: 950px;
  margin: 0 auto;
  letter-spacing: 2px;
}

.post-title {
  font-size: 2em;
  margin-bottom: 0.2em;
}
