.fg-color-1 {
  color: #594F4F;
}
.fg-color-2 {
  color: #547980;
}
.fg-color-3 {
  color: #45ADA8;
}
.fg-color-4 {
  color: #9DE0AD;
}
.fg-color-5 {
  color: #E5FCC2;
}

.bg-color-1 {
  background-color: #594F4F;
}
.bg-color-2 {
  background-color: #547980;
}
.bg-color-3 {
  background-color: #45ADA8;
}
.bg-color-4 {
  background-color: #9DE0AD;
}
.bg-color-5 {
  background-color: #E5FCC2;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.banner {
  background: transparent url('banner.png') 0 0 no-repeat fixed;
  text-align: center;
  background-size: cover;
  height: 250px;
  width: 100%;
  margin-bottom: 3em;
  display: table;
}

.banner-head {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  text-transform: lowercase;
  letter-spacing: 0.10em;
  font-size: 4em;
  font-weight: 500;
  color: white;
  text-shadow: 0 1px 1px black;
}

.pure-menu {
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.post-title {
  font-size: 2em;
  margin-bottom: 0.2em;
}
